[Desktop Entry]
Name=IntelliJ IDEA
Exec=/opt/idea-IC-243.26053.27/bin/idea
Terminal=false
Type=Application
Icon=
Categories=Development;IDE
X-Desktop-File-Install-Version=0.27
